/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  background: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

.container {
  width: 100%;
  max-width: 860px;
  margin: 100px auto;
  overflow: hidden;
}

.frame, .brand, .phones, .iphone, .android {
  float: left;
}

.brand {
  margin-top: 7px;
}

.text-box {
  float: left;
  width: 504px;
  margin-left: 30px;
  position: relative;
}

.home {
  margin-top: 5px;
}

h1 {
  clear: both;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: bold;
  color: #06365f;
}

.frame {
  position: absolute;
  top: 100px;
}

.copy {
  padding: 30px;
  position: relative;
  z-index: 1000;
  margin-top: 80px;
}

.iphone, .android {
  padding: 0 15px 0 30px;
}

p {
  font-size: 18px;
  font-weight: 350;
  line-height: 1.4em;
}

footer li {
  float: left;
  list-style: none;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 40px;
}

footer {
  clear: both;
  margin: auto;
}

ul:first-child {
  margin-left: 100px;
}

a {
  color: #1c5380;
}

.copyright {
  color: rgba(146, 146, 156, 0.44);
}

.login {
  width: 100px;
  background: linear-gradient(#bdbdcc, #1c5380);
  float: right;
  margin: 15px 10px 0 0;
  padding: 6px;
  border-radius: 5px;
}

.sign-in {
  float: left;
  color: white;
  margin: auto;
  font-weight: bold;
}

.house-icon {
  float: left;
  padding-right: 5px;
}
